body{
    justify-items: center;
}

#credit-card-form {

    width: fit-content;
    height: fit-content;
    display: grid;

    grid-template-columns: 150px 285px 150px;
    grid-template-rows: 1fr 3fr 1fr 1fr;

}
.card{
    width: 100%;
    height: 270px;
    display: grid;
    background-color: #c2c2c2;
    border-radius: 15px;
    box-shadow: 3px 3px 3px black ;
    align-items: center;
}
.card > * {
    margin: 10px 10px;
}
input {
    height: 30px;
    width: 70%;
}


    #front{
        grid-area: 1/1/3/3;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        align-items: center;
    }
    #holder{
        grid-area: 3/1/4/2;
    }
    #expirationDate
    {
        grid-area: 3/2/4/3
    }
    #expirationDate input{
        width: 30%;
    }

    #back{
        grid-area: 2/2/4/4;
        z-index: -1;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 0.5fr 1fr;
    }
    #bar{
        grid-area: 1/1/2/3;

        width: 100%;
        height: 40px;
        background-color: black;
        align-self: start;
        margin: 25px 0;
    }
    #cvv
    {
        grid-area: 3/2/4/3;
    }


    #submit
    {
        grid-area: 4/3/5/4;
        width : 45%;
        height: 45%;
        align-self: center;
        justify-self: center;
    }