header, footer{
    width: 100%;
    text-align: center;
    background-color: #009dff;
    color: white;
    padding: 10px 0;
}
.navi{

    color: white;
    border: none;
    background-color: transparent;
    justify-self: center;

}

#nav{
    display: none;
    flex-direction: column;
}
#nav a{
    color: white;
    width: 50px;
    text-align: center;
    justify-self: center;
    margin: 10px 20px;
}

#menu-btn{
    font-size: 1.2em;
}
main{
    background-color: darkgrey;
    padding: 10px 0 ;
}

h2{
    margin: 0;
    padding: 20px;
    text-align: center;
}

#gallery{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 50px;
    grid-column-gap: 100px;
    justify-self: center;
    padding: 20px;
}

#gallery img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: 3px solid white;
    box-shadow: 3px 3px 5px black;
}

dialog img {
    width: 90%;
    max-height: 60vh;
    object-fit: contain;
    display: block;
    margin: 20vh auto;
}
dialog {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
}
.close-viewer {
    position: absolute;
    top: 17.5vh;
    right: 2vh;
    padding: 3px 6px;
    font-size: 1.5em;
}

@media screen and (min-width: 700px){
    #gallery{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 1000px){
    #gallery{
        grid-template-columns: 1fr 1fr 1fr;
    }
    #menu-btn{
        display: none;
    }
    #nav{
        display: block;

    }
}


