body{
    background-color: #ddd;
    font-size: 20px;
}
#content{
    max-width: 60%;
    margin: 40px auto;
    border: 1px solid darkgrey;
    padding: 50px;
}

p{
    color: #035F9C;
    font-size: 1.3em;
}
hr{
    height: 3px;
    background-color: #035F9C;
    width: 80%;
    margin-top: 50px;
}

h1, h2, p{
    text-align: center;
}
img{
    width: 50%;
    display: block;
    margin: 50px auto;
}
#topics{
    line-height: 1.5em;
    margin: 0 auto;
    justify-items: center;
}
.list{
    list-style-type: none;
    width: 70%
}