h1{
    text-align: center;
    color: darkslateblue;
}
hr{
    color: darkgoldenrod;
    height: 2px;
    background-color: darkgoldenrod;
}
nav{
    text-align: right;
}
a{
    text-decoration: none;
    color: brown;
    margin: 10px;
}
#container{
    margin: auto;
    width: 60%;
    margin-top: 3%;
    margin-bottom: 3%;
}
h4{
    font-size: 1em;
    font-weight: normal;
}
.review{
    display: grid;
    grid-template-rows: auto 1fr;
    margin-bottom: 50px;
}
.col_info{
    text-align: right;
    font-weight: normal;
    font-size: 1em;
}
.col_info h4{
    margin: 10px;
}
.date{
    font-style: italic;
}
.main_info{
    margin-left: 10px;
}
.title{
    color: brown;
    font-size: 1.5rem;
    width: 100%;
    text-align: center;
}
.img-align{
    justify-self: center;
    width: fit-content;
    height: fit-content;
}

footer{
    text-align: center;

}

@media (min-width: 800px){
    .review{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 3fr;

    }
    .col_info{
        border-right: solid 2px darkgoldenrod;
    }
}