body{
    line-height: 2em;
}
#container{
    justify-self: center;
    justify-items: center;
    width: 40%;
}
h1{
    text-transform: uppercase;
    font-weight: normal;
}

h2{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 20px;
    color: #035F9C;
}
hr{
    height: 0.5px;
    width: 100%;
    background-color: darkgrey;
}
img{
    display: block;
    max-width: 100px;
    margin: 0 auto;
}
#id2{
    text-align: left;
    justify-self: left;
    font-style: italic;
}
